@media only screen and (max-width: 576px) {

    /* Header Area Style */
    .header-top{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-top-content h3{
   text-align: center;
}
.header-top-content a{
    text-align: center;
    display: block;
    
}
.header-navbar{
    flex-direction: column;
}
.nav-bar>ul>a>li{
    font-size: 15px;
    

}
.user-area{
    flex-direction: column;
    margin:10px;
}
.search-fild input{
    width: 200px;
    font-size: 12px;
}
.user-icon{
    margin-top: 10px;
}
.banner-section{
    flex-direction: column;

}
.banner-nav{
    width: 100%;

}
.banner-slider{
    width: 100%;
    flex-direction: column;
}

.slider-img{
    width: 100%;
}
.slider-content{
    width: 100%;
    margin-bottom: 40px;
}

.products{
    
    grid-template-columns: repeat(1 , 1fr);
}

/* catagoris */
.categoris{
    
    grid-template-columns: repeat(1 ,1fr);
    
}
  /* Best Selling Products */
.selings-products{
    grid-template-columns: repeat(1 ,1fr);
}

.explore-products{
    grid-template-columns: repeat(1 , 1fr);
}

.arivals{
    flex-direction: column;
}
.arival-1{
    width: 100%;
}
.arival-2{
    width: 100%;
     flex-direction: row;
    
}
.arival3{
    height: 100%;
}
.arival-4{
    height: 100%;
    flex-direction: column;
    
}

/* footer */
.footer-areas{
    
    grid-template-columns: repeat(1 , 1fr);
 
}

  
}


@media only screen and (min-width: 576px) and (max-width: 576px){
    

}